@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #eff4fd;
}
/* home Below*/
a{
    text-decoration: none;
}
.line{
    margin-top: 35px;
    border-style: dashed;
    margin-bottom: 35px;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav h3{
    font-style: italic;
}
.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.name h1{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}
.detel h2{
    font-weight: 700;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 88%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    border-radius: 500px;
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}



.social{
    margin-left: 8%;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}
 .heading{
    text-align: center;
    font-size: xx-large;
    bottom: 20px;
    text-decoration-line: underline;
 }
/*About Below*/
.about{
    position: relative;
    width: 100%;
    background: #eff4fd; 
    
} 
.detail{
    border: 5px;
    margin: auto;
    width: 50%;
    padding: 20px;
}

.detail p{
    padding: 5px;
}
.detail a{
    margin-left: 300px;
}
.sec_title{
    margin-top: 200px;
}
.button{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
/* Education */

/*Profiles*/
.profileimg{
    height: 150px;
    width: 150px;
}
.profile_sec{
    border: 5px;
    margin: auto;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.b{
    background-color: cadetblue ; /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.b:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.b a{
  color: white;
}

/*............................*/

.detail ol li{
    padding: 13px;
    font-weight: 400;
    font-size: larger;
}

.bu{
    border: 5px;
    margin:auto;
    padding: 20px;   
}


footer{
    background-color:#24262b;
    color: #7f7f7f;
    padding: 50px 0;
    font-size: 14px;
  }
  footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  
  footer .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
  }
  footer p{
    margin-bottom: 10px;
  }
  footer .linkscon ul{
    list-style-type: none;
  }
  footer .linkscon ul li a{
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: inline-block;
  }
  footer .newsLetter img{
    margin-bottom: 12px;
  }
  .social1{
    margin-left: 8%;
}

.social1 a{
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
}

.social1 a:hover{
    color: orange;
}